* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Open Sans";
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

h1 {
  color: hsl(243, 87%, 12%);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  font-family: "Raleway";
  font-size: 0.8rem;
  align-items: center;
}
@media (min-width: 1024px) {
  header {
    padding: 50px;
  }
}
header img {
  width: 5rem;
}
@media (min-width: 1024px) {
  header img {
    width: 6rem;
  }
}
header nav {
  display: flex;
  gap: 25px;
}
header a {
  color: hsl(238, 22%, 44%);
  font-weight: bold;
}
@media (min-width: 1024px) {
  header a {
    font-size: 1.2rem;
  }
}
header a:hover {
  color: hsl(243, 87%, 12%);
}

.section1 {
  display: flex;
  flex-direction: column-reverse;
  padding: 90px 25px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .section1 {
    padding-inline: 15%;
  }
}
@media (min-width: 1024px) {
  .section1 {
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding-inline: 5%;
    gap: 4rem;
    max-width: 2000px;
  }
}
.section1-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: hsl(243, 87%, 12%);
  padding: 0 5px;
}
@media (min-width: 1024px) {
  .section1-content {
    text-align: start;
    max-width: 900px;
  }
}
.section1-content h1 {
  font-size: 1.6rem;
}
@media (min-width: 1024px) {
  .section1-content h1 {
    text-align: start;
    font-size: 2.2rem;
  }
}
.section1-content p {
  font-size: 0.9rem;
}
@media (min-width: 1024px) {
  .section1-content p {
    text-align: start;
    padding: 0;
    max-width: 500px;
    color: black;
    font-size: 1rem;
  }
}
.section1-content .login-area {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  align-items: center;
}
@media (min-width: 1024px) {
  .section1-content .login-area {
    flex-direction: row;
  }
}
.section1-content .login-area #e-mail-1 {
  padding: 10px 15px;
  border-radius: 3px;
  border: solid 1px rgba(0, 0, 0, 0.4823529412);
  width: 100%;
  max-width: 500px;
}
.section1-content .login-area #e-mail-1::placeholder {
  color: #cccccc;
}
@media (min-width: 1024px) {
  .section1-content .login-area #e-mail-1 {
    width: 45%;
  }
}
.section1-content .login-area .btn {
  padding: 10px;
  background-color: hsl(224, 93%, 58%);
  border: none;
  color: white;
  border-radius: 3px;
  font-weight: bold;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2078431373);
  width: 100%;
  max-width: 500px;
}
.section1-content .login-area .btn:hover {
  background-color: hsl(224, 93%, 68%);
  cursor: pointer;
}
@media (min-width: 1024px) {
  .section1-content .login-area .btn {
    max-width: 170px;
  }
}
.section1 .ilunstration1 {
  width: 85%;
  margin-bottom: 2rem;
}
@media (min-width: 1024px) {
  .section1 .ilunstration1 {
    width: 50%;
    max-width: 700px;
  }
}

.section2 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .section2 {
    padding-inline: 15%;
  }
}
@media (min-width: 1024px) {
  .section2 {
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding-inline: 5%;
    gap: 4rem;
    max-width: 2000px;
  }
}
.section2-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (min-width: 1024px) {
  .section2-content {
    text-align: start;
    max-width: 900px;
  }
}
.section2-content h1 {
  text-align: center;
  font-size: 2.5rem;
}
@media (min-width: 1024px) {
  .section2-content h1 {
    text-align: start;
  }
}
.section2-content p {
  color: hsl(238, 22%, 44%);
  padding-inline: 17px;
  text-align: start;
}
@media (min-width: 1024px) {
  .section2-content p {
    text-align: start;
    padding: 0;
    max-width: 550px;
    color: black;
  }
}
.section2-content a {
  align-self: center;
  justify-self: center;
  color: hsl(170, 45%, 43%);
  padding: 5px;
  border-bottom: solid 2px hsl(170, 45%, 43%);
  position: relative;
  padding-right: 27px;
}
@media (min-width: 1024px) {
  .section2-content a {
    align-self: start;
  }
}
.section2-content a img {
  width: 1.3rem;
  position: absolute;
  top: 25%;
  left: 87%;
}
.section2-content .card {
  align-self: center;
  justify-self: center;
  padding: 20px 20px 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 80%;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.1019607843);
  margin-block: 25px 100px;
}
@media (min-width: 1024px) {
  .section2-content .card {
    align-self: start;
    max-width: 305px;
  }
}
.section2-content .card .card-quote {
  width: 5%;
}
.section2-content .card .card-paragraph {
  color: hsl(243, 87%, 12%);
  font-size: 0.7rem;
  line-height: 1.8;
  font-weight: bold;
}
.section2-content .card .profile-container {
  display: flex;
}
.section2-content .card img {
  width: 15%;
  border-radius: 50%;
  margin-right: 5%;
}
.section2-content .card .profile-container-profile p {
  color: hsl(243, 87%, 12%);
  font-size: 0.7rem;
}
.section2-content .card .profile-container-profile .profile-name {
  font-size: 0.8rem;
  font-weight: bold;
}
.section2 .ilunstration2 {
  width: 85%;
  margin-bottom: 5rem;
}
@media (min-width: 1024px) {
  .section2 .ilunstration2 {
    width: 50%;
    max-width: 700px;
  }
}

.register-container {
  background-color: hsl(238, 22%, 44%);
  color: #fff;
  padding: 50px;
  text-align: center;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .register-container {
    padding-inline: 15%;
  }
}
@media (min-width: 1024px) {
  .register-container {
    display: flex;
    flex-direction: row;
    gap: 15%;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .register-container-content {
    width: 100%;
    text-align: start;
  }
}
.register-container-content h2 {
  margin-bottom: 25px;
  font-size: 1.2rem;
}
@media (min-width: 1024px) {
  .register-container-content h2 {
    font-size: 2rem;
  }
}
.register-container-content p {
  margin-bottom: 25px;
  font-size: 13.5px;
  color: hsl(0, 0%, 75%);
}
@media (min-width: 1024px) {
  .register-container-content p {
    font-size: 1.2rem;
  }
}
.register-container-register {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}
@media (min-width: 1024px) {
  .register-container-register {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .register-container-register {
    width: 80%;
    margin-right: 4rem;
  }
}
.register-container-register #e-mail-2 {
  padding: 10px 15px;
  border-radius: 3px;
  border: solid 1px rgba(0, 0, 0, 0.4823529412);
  width: 100%;
  max-width: 500px;
}
.register-container-register #e-mail-2::placeholder {
  color: #cccccc;
}
@media (min-width: 1024px) {
  .register-container-register #e-mail-2 {
    align-self: start;
  }
}
.register-container-register .btn {
  font-size: 0.7rem;
  padding: 10px;
  background-color: hsl(224, 93%, 58%);
  border: none;
  color: white;
  border-radius: 3px;
  font-weight: bold;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2078431373);
  width: 100%;
  max-width: 500px;
}
.register-container-register .btn:hover {
  background-color: hsl(224, 93%, 68%);
  cursor: pointer;
}
@media (min-width: 1024px) {
  .register-container-register .btn {
    width: 30%;
    min-width: 130px;
    align-self: start;
  }
}

footer {
  background-color: hsl(243, 87%, 12%);
  color: #fff;
  padding: 50px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  footer {
    display: flex;
    justify-content: space-between;
    padding: 10%;
  }
}
@media (min-width: 1024px) {
  footer {
    display: flex;
    justify-content: space-between;
    padding: 10%;
  }
}
footer .contacts img {
  width: 150px;
  color: #fff;
  margin-bottom: 30px;
}
footer .contacts .contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
footer .contacts .contact a {
  color: white;
  position: relative;
  margin-left: 30px;
  margin-bottom: 20px;
}
footer .contacts .contact a img {
  position: absolute;
  width: 1.3rem;
  left: -32px;
}
footer .more {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 10%;
}
@media (min-width: 768px) and (max-width: 1023px) {
  footer .more {
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  footer .more {
    flex-direction: row;
    gap: 10rem;
  }
}
footer .more div {
  display: flex;
  flex-direction: column;
}
footer .more div a {
  line-height: 2;
  color: #fff;
}
footer .social-media {
  align-self: center;
  justify-self: center;
  text-align: center;
}
footer .social-media a {
  color: #fff;
}
footer .social-media a i {
  font-size: 0.8rem;
  margin-right: 0.5rem;
  margin-top: 25px;
  border: solid 1px #fff;
  padding: 8px;
  border-radius: 50%;
}

/*# sourceMappingURL=app.css.map */
