@use '../0-base/_variables' as v
@use '../0-base/_base-mixins' as b-m
@use '../2-modules/modules-mixins'
@use 'sass:color'
.section1
    display: flex
    flex-direction: column-reverse
    padding: 90px 25px
    align-items: center
    justify-content: center
    text-align: center
    margin-bottom: 50px

    @include b-m.tablet
        padding-inline: 15%

    @include b-m.desktop
        flex-direction: row
        align-items: center
        justify-content: start
        padding-inline: 5%
        gap: 4rem
        max-width: 2000px

    &-content
        display: flex
        flex-direction: column
        gap: 2rem
        color: v.$VeryDarkBlue

        padding: 0 5px

        @include b-m.desktop
            text-align: start
            max-width: 900px

        h1
            font-size: 1.6rem

            @include b-m.desktop
                text-align: start
                font-size: 2.2rem
        p
            font-size: .9rem

            @include b-m.desktop
                text-align: start
                padding: 0
                max-width: 500px
                color: black
                font-size: 1rem

        .login-area
            display: flex
            flex-direction: column
            gap: 1rem
            width: 100%
            align-items: center

            @include b-m.desktop
                flex-direction: row

            #e-mail
                @include modules-mixins.e-mail
                width: 45%
                

            .btn
                @include modules-mixins.button
                @include b-m.desktop
                max-width: 170px
                    
                

        
    .ilunstration1
        width: 85%
        margin-bottom: 2rem
        @include b-m.desktop
            width: 50%
            max-width: 700px