@use '../0-base/_variables' as v
@use '../0-base/_base-mixins' as b-m
@use 'sass:color'

@mixin button 
    padding: 10px
    background-color: v.$BrightBlue
    border: none
    color: white
    border-radius: 3px
    font-weight: bold
    box-shadow: 0px 1px 4px  #00000035
    width: 100%
    max-width: 500px
    &:hover
        background-color: lighten(v.$BrightBlue, $amount: 10%)
        cursor: pointer

@mixin e-mail
    padding: 10px 15px
    border-radius: 3px
    border: solid 1px #0000007b
    width: 100%
    max-width: 500px

    &::placeholder 
        color: lighten(#000, $amount: 80%)
    
    