@use '../0-base/_variables' as v
@use '../0-base/_base-mixins' as b-m

.front-mentor 
    text-align: center

.desafios-cards-f
    background-color: blue
    display: flex
    flex-direction: column
    gap: 10px
    padding: 25px
    .desafio-f
        background-color: purple