@use '../0-base/_base-mixins' as b-m
@use '../0-base/_variables' as v

.repositorio
    background-color: v.$repositories
    display: flex
    flex-direction: column
    color: #fff
    justify-content: center
    align-items: center
    text-align: center
    align-self: center
    width: 80%
    max-width: 300px
    border-top-left-radius: 30%
    border-bottom-right-radius: 30%
    padding: 15px
    img
        width: 30%
        transition: .4s
        border-radius: 30%

        &:hover
            border-radius: 50%
            background-color: v.$titles