*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-item{
    background-color: pink;
    height: 30%;
    width: 30%;

}

.item12{
    flex-shrink: 20;
    
}

.flex-countainer{
    align-items: start;
    padding: 20px;
    
    height: 50%;
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: flex-start;
    gap: 5px;
    
    
}