

@media screen and (min-width:688px) {
    /* Header */


.cabecario{
    background-image: url(../images/bg-header-desktop.png);

    
}
.cabecario_texto{
  width: 600px;
}
.links_download>a{
    padding: 15px 40px;
}

.links_download{
    flex-direction: row;
}

/* Main */





.corpo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 30px 0px 30px;
    font-family: var(--font);
    gap: 150px;
 
 }
 .hero-1{
     display:flex;
     flex-direction: column;
     align-items: center;
     gap:30px;
 
 }

 .hero-1>p{
    width: 50%;
    min-width: 500px;
    max-width: 1000px;
    margin-bottom: 30px;

 }
 .hero-1-2-pai{
    display: flex;
    align-items: center;
    font-size: 0.6em;
    text-align: start;
    gap: 60px;
    align-items: center;
 }
 
 .hero-1-2{
     display: flex;
     flex-direction:column;
     gap: 5px;  
     padding: 10px;
     width: 239px;
     padding-bottom: 30px;
     
 }
 .telas{
     
     padding-block: 0px;
     max-width: 50%;
     
 }

.tela-pc{
    display: none;
}
.tela-pc-2{
    display: block;
}
 .section-moveis{
     display: flex;
     flex-direction: column;
     gap: 20px;
     align-items: center;
 }
 .section-moveis>img{
     padding-top: 40px ;
 
 }
 .hero-2{
    
     display: flex;
     flex-direction: column;
     gap: 65px;
 }
 .hero-2-2{
     display: flex;
     flex-direction: column;
     gap: 55px;
 }
 
 .hero-2-2>div>h2{
     
     padding: 15px;
    
 }
 
 .imagens{
    
     display: flex;
     flex-direction: column;
     gap: 50px;
     justify-content: center;
     align-items: center;
     
 }
 
 .baixar-box-2{
     background-color: rgb(245, 246, 248);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 20px;
     padding: 50px 20px;
     width: 100vw;
 }
 .baixar-box-2>p{
     color: var(--DarkGrayishBlue);
 }
 .baixar-box-2>img{
     width: 40px;
 }
 
 .redes-icons{
     display: flex;
     gap: 25px;
 }
 
 
 .area_download{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     padding: 100px 40px;
     font-family:var(--font);
     gap: 10px; 
 }
 /* footer */
 
 
}
