@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap')

@mixin pc-screen
    @media screen and (min-width: 1024px)
        @content

  
// Color-Primary
$darkcyan: hsl(158, 36%, 37%)
$cream: hsl(30, 38%, 92%)
// Color-Neutral
$Very-dark-blue: hsl(212, 21%, 14%)
$dark-grayish-blue: hsl(228, 12%, 48%)
$white: hsl(0, 0%, 100%)
// font
$font-size-paragraph: 1rem
$font-basic: 'Montserrat'
$font-title: 'Fraunces'
  
*
    margin: 0
    padding: 0
    box-sizing: border-box
    text-decoration: none

body
    background-color: $cream
    display: flex
    align-items: center
    justify-content: center
    height: 100vh
   
p
    font-family: $font-basic
    font-size: $font-size-paragraph
    color: $Very-dark-blue
    line-height: 1.5
    font-weight: 500
    opacity: .9

    @include pc-screen
        font-size: 1.1rem


.card
    margin: 25px
    display: flex
    flex-direction: column
    border-radius: 15px
    background-color: $white
    max-width: 515px
    padding-bottom: 15px

    @include pc-screen
        flex-direction: row
        max-width: 700px
        padding-bottom: 0px
        

    &-image
        border-top-left-radius: 15px
        border-top-right-radius: 15px
        width: 100%       

    &-image-mobile
        @include pc-screen
            display: none

    &-image-pc
        display: none
        @include pc-screen
            display: block
            width: 50%
            border-top-left-radius: 15px
            border-bottom-left-radius: 15px
            border-top-right-radius: 0

    &-content
        margin: 20px
        display: flex
        flex-direction: column
        gap: 17px

        @include pc-screen
            padding: 10px
            gap: 15px

        &-perfume-text
            font-size: .9rem
            font-weight: bold
            opacity: 0.5

            @include pc-screen
                font-size: 1rem

        h1
            font-size: $font-title
            font-family: 'Fraunces'
            font-size: 2.2rem

            @include pc-screen
                font-size: 2.5rem

        &-prices
            display: flex
            gap: 20px
            align-items: center

            .preco-discount
                color: $darkcyan
                font-family: 'Fraunces'
                font-size: 2rem
                font-weight: bolder

                @include pc-screen
                    font-size: 2.6rem


            .preco-original
                font-family: $font-basic
                font-size: $font-size-paragraph
                color: $Very-dark-blue
                text-decoration: line-through
                opacity: 0.9

        .btn-add-to-cart
            padding: 15px
            border-radius: 10px
            border: none
            background-color: $darkcyan
            color: $white
            display: flex
            align-items: center
            justify-content: center
            gap: 10px
            font-weight: bold
            transition: .5s

            &:hover
                background-color: rgb(26, 64, 49)
                cursor: pointer

            @include pc-screen
                padding: 20px


                


