
@media screen and ( min-width: 1024px) {

    h1{
        font-size: 2em;
        width: 100%;
    }

    header{
        padding-inline: 50px;
    }


    .capa, .comunidade, .box{
        padding-inline: 12%;
    }


    .capa>p{
        font-size: 1em;
        font-size: 1em;

        width: 50%;
      
    }

    

    .numeros{
        flex-direction: row;
        justify-content: center;
        gap: 150px;
        padding-block: 50px ;
        width: 100%;
      

    }
    
    
    .vantagens{
        background-color: white;
    }

    .box{
        flex-direction: row;
         padding-inline: 150px;
         padding-block: 20px;
         align-items: center;
        
    }
    .box>img{
        width: 50%;
    }

    .imagem-fundo, .imagem-fundo2{
        display: none;

    }

    .imagem-fundo-pc2{
        min-width: 100%;
        transform:  rotate(1260deg);
        display: block;
       
    }

    .imagem-fundo-pc{
       display: block;
    
    }
   
    

    .box4{
        flex-direction: column;
    }
    .box4>h1{
        font-size: 2em;
    
    }

    .box-text{
        display: flex;
        width: 50%;
        flex-direction: column;
        gap: 20px;
    }
    
    
    .footer-style{
        background-image: url(../images/bg-footer-top-desktop.svg);
        background-size: cover;
        height: 150px;
        margin-bottom: 50px;
    }

    .Newsletter-box{
        display: flex;
        flex-direction: row-reverse;
       background-color: var(--cor1N);
        justify-content: space-around;
        margin-top: -51px;
        padding-bottom: 5%;
       
    }

    .Newsletter-box>div{
        display: flex;
        width: 400px;
        padding: 70px 40px;
        padding-inline: 40px;
        margin: 25px;
        
    }
    .Newsletter-box>.box2-footer{
        width: 25%;
    }


    .Newsletter-box>p{
        width: 95%;
        font-size: 15px;
        line-height: 1.5em;
        
    }
    .newsletter-email>#email{
        height:45px;
        border-radius: 5px;
        border: none;
    }
    
    .newsletter-email>.botaoSub{
        width: 40%;
        height: 45px;
        border-radius: 5px;
        border: none;
        background-color: var(--cor1);
        color: white;
        font-weight: 600;
    }
    
    .newsletter-email>.botaoSubpai{
        margin-top: -10px;
        display: flex;
        justify-content: end;
    }
    
    .redes-icons{
        background-color: antiquewhite;
    }
    
    .hudlle{
        display: flex;
        align-items: center;
        color: white;
        font-size: 1.5em;
    
    }
}

