body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn{
    font-size: 18px;
    font-weight: bold;
    background-color: #fff;
    color: #000;
    padding: 20px 40px;
    border-radius: 5px;
    cursor: pointer;
    border-bottom: 4px solid #999;
    transition: all 0.5s linear;
}

.btn:hover{
    background-color: #999;
    color: white;
}

/*

Transition

    A propriedade transition é usada para fazer uma transição, ela não vai fazer nem uma ação, não é nem um efeito em termos de mudança visual. Trasition só configura como esse elemento vai se comportar quando alguma coisa acontecer.
    Ela é uma configuraçao e não uma ação


    exemplo, no caso de usar um :hover para mudar o background de uma div, o hover muda o background, existe uma mudança de proprioedade. o transition atua atrasando essa transição, voce muda como essa transição acontece, em termos de tempo e em processos.

    vc sempre usa o transition no elemento e não no hover

    exemplo:

    transition: all 1s linear ;


    all se refere a todo os elementos da dive, como color, width, background....você pode colocar um elemente específico no lugar do all, como o Color


    voce pode mudar os segundos da transicão naquele "1s"

    linear é o tipo de trasição

*/



/* animation 

    A animação é uma ação e não uma configuração igual ao transition. ela vc deve colocar no hover


*/