*{
    margin: 0;
    padding: 0;     
}

:root {
   --fontPesada :#1A1E26;
   --fontTexto : #AAB1BF;
   --fundoMain : #686673;
   --fundoBody : #1A1E26;
   --caixas :  #D9BBB0 ;
   
   --fontP: "Noto Sans", sans-serif;
     
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--fundoMain);
    width: 100vw;
    height: 100vh;

}


img{
    border-radius: 50%;
    max-width: 40%;
    min-width: 70px;
}

h1{

    font-size: larger;
    text-align: center;
}
.subtxt{
    color: var(--caixas);
    font-weight: bolder;
    text-align: center;
    font-size: 0.9em;
    margin: -10px;
}
p{
    text-align: center;
}
section.conteudo{
    color: var(--fontTexto);
    background-color: var(--fundoBody);
    min-width: 250px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px;
    border-radius: 5%;
    font-family: var(--fontP);
    max-width: 30em;
    margin: 10px 5px;

}

.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    gap: 10px;   
}

a{
    width: 110%;
    padding: 5%;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    background-color: var(--caixas);
    color: var(--fontPesada);
    font-weight: bolder;
    font-size: 0.9rem;
    
}

a:hover{
    background-color: var(--fontTexto);
    animation-delay: -2s;
    transition: .35s;
}