
@media screen and (min-width: 1024px) {

    .fundo{

        margin-left: -300px;
        width: 50vw;
        min-width: 200px;
        height: 700px;
        position: absolute;
    
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
    }

    main{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 120px;
        padding: 150px 100px 190px 100px;
    
    }
 



    .text{
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 400px;
        text-align: start;
        margin-right: -90px;
      

    }
    .text>h1{
        font-size: 2.5em;
    }
    .text>p{
        line-height: 1.8em;
      
        text-align: start;
    
        width: 100%;
        color: var(--DarkGrayishViolet);
        font-size: 16px;
    
    }
}



