*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
 /* cores */

--PaleViolet : hsl(276, 100%, 81%);
--ModerateViolet : hsl(276, 55%, 52%);
--DesaturatedDarkViolet: hsl(271, 15%, 43%);
--GrayishBlue: hsl(206, 6%, 79%);
--VeryDarDesaturatedViolet : hsl(271, 36%, 24%);
--DarkGrayishViolet: hsl(270, 7%, 64%);

/* Fonts */

--font:"Rubik", sans-serif;

/* Cores secundárias */

--White: hsl(0, 0%, 100%);
--LightGrayishViolet: hsl(270, 20%, 96%);
--VeryDarkDesaturatedVioletbutton: hsl(271, 36%, 24%);
--VeryLightMagenta: hsl(289, 100%, 72%);

/* cores gradient */

--gradient : to left,  hsl(293, 100%, 63%), hsl(264, 100%, 61%)  ;



}

body{
    font-family: var(--font);
}

/* Phone design */


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 60px 20px;
    background-color: aquamarine;
}

.phone{
    height: 430px;
    background-color: var(--White);
    padding: 10px;
    display: flex;
    width: 230px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8em;

}
.phone-screen{
    background-color: var(--LightGrayishViolet);
    border-radius: 30px;
    font-size: 0.8em;
    text-align: center;
    
}
.phone-caixa-branca{
    background-color: white;
    height: 25px;
    border-radius: 20px;
    width: 50%;
    position: relative;
    margin-top: -8px;
    margin-bottom: -15px;
}
.phone-profile{
    padding: 25px 10px 15px 10px;
    background-image: linear-gradient( var(--gradient));
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    
}

.profile-avatar{
    width: 12%;
    background-color: rgb(11, 62, 107);
    border-radius:50%;
    border: solid 1.5px white;
}

.profile-names{

    display: flex;
    flex-direction: column;
    color: white;
}

h2{
    font-size: 1.1em;
}
.phone-talk{

}

.mensage-he{

}
.my-mensage{

}

.value-walk-box{
    
}
.dogs-images-box{
    display: flex;
}
.dogs-image{
    width: 30px;
}


.-phone-box-of-text{

}

.text{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
  
}
.text>h1{
    font-size: 2.5em;
}
.text>p{
    line-height: 1.8em;

    width: 300px;
    color: var(--DarkGrayishViolet);
    font-size: 16px;

}