*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
 /* cores */

--PaleViolet : hsl(276, 100%, 81%);
--ModerateViolet : hsl(276, 55%, 52%);
--DesaturatedDarkViolet: hsl(271, 15%, 43%);
--GrayishBlue: hsl(206, 6%, 79%);
--VeryDarDesaturatedViolet : hsl(271, 36%, 24%);
--DarkGrayishViolet: hsl(270, 7%, 64%);

/* Fonts */

--font:"Rubik", sans-serif;

/* Cores secundárias */

--White: hsl(0, 0%, 100%);
--LightGrayishViolet: hsl(270, 20%, 96%);
--VeryDarkDesaturatedVioletbutton: hsl(271, 36%, 24%);
--VeryLightMagenta: hsl(289, 100%, 72%)



}

body{
    font-family: var(--font);
}

/* Phone design */


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 60px 20px;
}

.phone{
    height: 400px;
    background-color: rgb(235, 175, 96);
    padding: 30px;
    border: solid black;
    display: flex;
    width: 190px;
    border-radius: 30px;

}

.text{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
  
}
.text>h1{
    font-size: 2.5em;
}
.text>p{
    line-height: 1.8em;

    width: 300px;
    color: var(--DarkGrayishViolet);
    font-size: 16px;

}