*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.container{
    border: 5px solid cyan;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.item{
    background-color: deeppink;
}