/*  Area n usada


.container{
    background-color: #333;
    padding: 15px;
    display: grid;
    border: 1px solid red;
    grid-template-columns: 50px auto 10%;
    height: 35vh;
    grid-template-rows: 70% 30%;
    gap: 5px;
}

.container>div{
    background-color: #ccc;
    padding: 20px;
    border: 1px solid blue;
} */


.container{
    background-color: #333;
    display: grid;
    grid-template: 100px 100px / 100px 100px 100px;
    height: 500px;
    /* gap: 5px; */
    /* justify-content: space-around; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    justify-content: center;
    align-content: center;
    /* justify-items: center; */
    
}
.container>div{
    background-color: #ccc;
    padding: 20px;
    border: 1px solid rgb(255, 255, 255);
} 

.header{
    align-self: center;
    justify-content: end;
    grid-column: 1/4;
}
.sidebar{
   grid-row: 2/4;
}
.content1{
   justify-self: center;
   align-self: center;
}
.advert{
    align-self: start;
    justify-self: end;
}

.div{
    align-self: center;
    justify-content: end;
}
.div2{
    
}
.footer{
    grid-column: 1/4;
    grid-row: 4;
}