@charset "UTF-8";


*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
}
:root{
 /* Cores */

    --cor1Blue: hsl(243, 100%, 93%);
    --cor2Blue: hsl(229, 7%, 55%);
    --cor3DarkBlue: hsl(228, 56%, 26%);
    --cor4VeryDarkBlue: hsl(229, 57%, 11%);
    --Gradient: hsl(6, 100%, 80%), hsl(335, 100%, 65%);

 /* fontes:  */
    --font-1:"Raleway", sans-serif;

}

body{
    font-family:var(--font-1);
    Font-size: 14px;
}

body{
    background-image: url(../images/bg-mobile.png);
    display: grid;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

main{
  
    display: grid;
    gap: 20px;
    width: 345px;
}

.hero-1, .hero-2{
    background-color: var(--cor3DarkBlue);
    display: grid;
    border-radius: 8px;

}

.hero-1{
    padding-inline: 40px;
    padding-block: 30px;
    border-top-right-radius: 100px;
    height: 150px;
    align-items: center;
   
}
.icons{
    display: flex;
   
    gap: 16px;
}
.icons>img{
    width: 30px;
    background-color: var(--cor4VeryDarkBlue);
    padding: 10px;
    height: 30px;
    border-radius: 8px;
}

.hero-2{
    height: 180px;
}

.barra-and-txt{
    text-align: center;
    padding: 30px 15px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
    font-size: 1.2em;
}

.barra{
    appearance: none;
    height: 23px;
    border-radius: 10px;
    background-image: linear-gradient(to right, var(--Gradient));
    overflow: hidden;
    border:solid 3px var(--cor4VeryDarkBlue);
    
}

.barra::-webkit-slider-thumb{
    background-color: white;
    appearance: none;
    width: 25px;
    height: 25px;
    border: solid var(--cor4VeryDarkBlue);
    border-radius: 50%;
    box-shadow: 409px 0px 0px 395px var(--cor4VeryDarkBlue);
}

.gigas{
    
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
    margin-top: -40px;
    color: white;
    font-variant-numeric: oldstyle-nums;
    font-weight: 600;
}

.caixa-gb{
    background-color: white;
    justify-self: center;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    padding: 10px 15px ;
    gap: 15px;
    position: absolute;
    margin-top: 136px;
}



.caixa-gb>div{
    font-size: 4em;
    color: var(--cor4VeryDarkBlue);
    
}
.caixa-gb>p{
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor2Blue);
    font-weight: bold;
}