*{
    padding:0;
    margin: 0;
    box-sizing: 0;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: var(--font-famlily);
}
p{
    Font-size: 18px
}

:root{
/* ### Primary */

--Lightred: hsl(0, 100%, 67%);
--Orangeyyellow: hsl(39, 100%, 56%);
--Greenteal: hsl(166, 100%, 37%);
--Cobaltblue: hsl(234, 85%, 45%);

/* gradient */

--Lightslateblue-background: hsl(252, 100%, 67%);
--Lightroyalblue-background: hsl(241, 81%, 54%);

--Violetblue-circle: hsla(256, 72%, 46%, 1);
--Persianblue-circle: hsla(241, 72%, 46%, 0);

/*neutral */

--White: hsl(0, 0%, 100%);
--Paleblue: hsl(221, 100%, 96%);
--Lightlavender: hsl(241, 100%, 89%);
--Darkgrayblue: hsl(224, 30%, 27%);

/* Fonts */
--font-famlily: 'Hanken Grotesk'
}



.hero-1{
    background-image: linear-gradient(to top, var(--Lightroyalblue-background), var(--Lightslateblue-background));
    padding: 25px;
    color: var(--White);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 25px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    padding-bottom: 30px;
}

.ball-results{
    background-image: linear-gradient(to bottom, var(--Violetblue-circle), var(--Persianblue-circle));
    padding-block: 20px;
    padding-inline: 25px;
    border-radius: 50%;
}
.ball-results>strong{
    display: block;
    font-size: 4em;  
}
.hero-1-content>h1{
    margin-bottom: 10px;
}
.txt{
    
    
}

.hero-2{
    padding: 20px 30px;
}
.container-dados{
    display: grid;
    gap: 15px;
    margin-block: 20px;

}
.card{
    display: flex;
    justify-content: space-between;
    padding: 17px 20px;
    border-radius: 10px;
    font-weight: bold;
    align-items: center;
}
.card>.name{
    display: flex;
    gap: 8px;
}
span{
    color: rgba(0, 0, 0, 0.51);
}

.reaction{
    background-color: hsl(6, 100%, 98%);
}

.reaction>.name{
    color: var(--Lightred);
}

.memory{
    background-color: hsl(42, 100%, 97%);
}

.memory>.name{
    color: var(--Orangeyyellow);
}

.verbal{
    background-color: hsl(173, 53%, 97%);
}
.verbal>.name{
    color:var(--Greenteal);
}

.visual{
    background-color: hsl(240, 71%, 97%);
}
.visual>.name{
    color: var(--Cobaltblue);
}


.btn{
    background-color: var(--Darkgrayblue);
    width: 100%;
    padding: 18px;
    border-radius: 30px;
    color: var(--White);
    border: none;

}
