
    // escopo global
    
    $text-color: #1a68b6
    $bg-color: green
    $border: 2px solid red

    h1
        color: $text-color
        border: $border
    p
        color: $text-color
        border: $border
    a
        color: $text-color

    div
        p
            $font-color-span: green
            $font-color: #fff
            background-color: $bg-color
            // shadowing
            color: $font-color
            $border: 3px dotted blue
            border: $border

            span
                color: $font-color-span
                

        