
    // escopo global
    
    $text-color: #1a68b6
    $bg-color: blue

    h1
        color: $text-color
    p
        color: $text-color
    a
        color: $text-color

    div
        p
            $font-color-span: green
            $font-color: #fff
            background-color: $bg-color
            color: $font-color

            span
                color: $font-color-span
        