*{
    margin: none;
    padding: none;
}

h3, p{
    margin: 0px;
    padding: 0px;
    font-size: 0.9em;
}
h2{
    font-size: 1.3em;
   
}

/* - Mobile: 375px
- Desktop: 1440px */

/* Primary */
:root{

--Moderateviolet: hsl(263, 55%, 52%);
--Verydarkgrayishblue: hsl(217, 19%, 35%);
--Verydarkblackishblue: hsl(219, 29%, 14%);
--White: hsl(0, 0%, 100%);

/* Neutral */

--Lightgray: hsl(0, 0%, 81%);
--Lightgrayishblue: hsl(210, 46%, 95%);

--Font-size: 13px;
--font-family : "Barlow Semi Condensed", sans-serif;

}
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: var(--Lightgrayishblue);
}


main{
   
    margin: 60px 18px;
    font-family:var(--font-family);
    color: white;
    font-size: var(--Font-size);
    display: grid;
    gap: 25px;
}
.box{
    background-color: black;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.usuarios{
    display: flex;
    align-items: center;
    gap: 15px;
}

.name-situation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 4px;
    text-align: start;
}
img{
    width: 30px;    
    border-radius: 50%;
    border: solid 1px white;
}


.box-roxo{
    background-color: var(--Moderateviolet);
}

.box-cinza{
    background-color: var(--Verydarkgrayishblue);
}

.box-azulDark{
    background-color: var(--Verydarkblackishblue);
}


.box-branco{
    background-color: white;
    color: var(--Verydarkgrayishblue);
}
.box-branco>div>p{
    color: rgb(130, 129, 129);
}